<div class="container-fluid">
  <div class="jumbotron">
    <h1><%= @donor.name %></h1>
    <ul>
    <% @contributions.each do |contribution| %>
      <li><%= "#{contribution.total} - #{@contribution.candidate.name}, #{@contribution.candidate.state}, #{@contribution.candidate.party_name}" %> </li>
      <% end %>
    </ul>
  </div>
</div>

