<footer>
  <div class="container text-center">
    <div class="col-md-8"><p class="foot" style="text-align: left">Made with ♥ by the Howling Terrors.</p></div>
    
    <div class="col-md-4"><p class = "foot" style="text-align: right">Photo by Phil Roeder. Data Sourced From: <a href="http://opensecrets.org">OpenSecrets.org</a></p>
  </div>
</footer>