
<br><br><br><br><br>
<h1 class="big-font"></h1></br></br></br>
  <section class="column-1">
    <%=form_tag("/search", method: "GET") do %>
    <%= text_field_tag(:q, nil, :class => "form-control", :placeholder => "Enter Your Address or a Candidate's Name") %><br>  
    <%= submit_tag "Find my candidate", :class => "btn btn-primary btn" %>
    <% end %>
  </section>

</div>


     