/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ../../../vendor/assets/stylesheets/.
 *= require_tree .
 *= require_self
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 */

/* Some Style from the Bootstrap Default Theme */
body {
  background-image: url("capitol.jpg");
  background-color: #337AB7;

}
.footer-fix {
  height: 260px;
  clear: both;
}

.theme-dropdown .dropdown-menu {
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0%;
}

.foot {
  font-size: 12px;
  font-family: Raleway, Montserrat;
  text-align: center;
}

.subby {
  font-family: Raleway, Montserrat;
  font-color: white;
  background-color: navy;
  border: navy;
  width: 70px;
  text-align: center;
}

.big-font {
  font_family: Raleway;
  align: center;
}

.wrapper {
  width: 100%;  
}

.column-1 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.texty {
  text-align: center;
  width: 90px;
  padding: 3px;
}

.formy {
  font-color: black;
}

.basic-bg {
  background-color: #fff;
  width: 60%;
  font-size: 16px;
  font-family: Raleway, Montserrat;
}

.fonty {
  font-size: 14px;
}